In [72]:
import pandas as pd
import requests
import io
import numpy as np
    
# Downloading the csv file from your GitHub account

url = "https://raw.githubusercontent.com/ravikanthranjith/BITS-DM-ASSIGNMENT/master/GeneData.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content

# Reading the downloaded content and turning it into a pandas dataframe

df_gene = pd.read_csv(io.StringIO(download.decode('utf-8')))

# Printing out the first 5 rows of the dataframe

print (df.head())

   Rec_ID  GeneID  Colour Cell_Cycle_Cat  Cell_Cycle_Number  Gene_Induction  \
0       1  790958  Yellow          21-28                 21               1
1       2  790961  Yellow          13-20                 17               1
2       3  791100  Yellow          13-20                 19               1
3       4  791101   Green          21-28                 28               0
4       5  791102     Red          13-20                 16               1

  Symbol LocusTag   Synonyms                     dbXrefs chromosome  \
0  IGF2R        -  M6P/IGF2R  Ensembl:ENSOANG00000007296          2
1    F10        -          -  Ensembl:ENSOANG00000015639         20
2    CFD        -          -  Ensembl:ENSOANG00000009191         X1
3  SPA17        -          -  Ensembl:ENSOANG00000040613         11
4   IGF2        -          -  Ensembl:ENSOANG00000047292          3

                             description    type_of_gene  \
0  insulin like growth factor 2 receptor  protein-coding
1                   coagulation factor X  protein-coding
2                    complement factor D  protein-coding
3         sperm autoantigenic protein 17  protein-coding
4           insulin like growth factor 2  protein-coding

                                  Other_designations   Class
0  cation-independent mannose-6-phosphate recepto...  Animal
1                               coagulation factor X  Animal
2                        complement factor D|adipsin  Animal
3                         sperm surface protein Sp17  Animal
4  insulin-like growth factor II|insulin-like gro...  Animal

In [73]:
df_gene.dtypes

Rec_ID                 int64
GeneID                 int64
Colour                object
Cell_Cycle_Cat        object
Cell_Cycle_Number      int64
Gene_Induction         int64
Symbol                object
LocusTag              object
Synonyms              object
dbXrefs               object
chromosome            object
description           object
type_of_gene          object
Other_designations    object
Class                 object
dtype: object

In [ ]:
# for data visualization
#import seaborn as sns 
#import matplotlib.pylab as plt
#corr = df_gene.corr()
#sns.heatmap(corr)
#print(df_gene.apply(pd.Series.count))

In [78]:
df_gene.describe()

            Rec_ID        GeneID  Cell_Cycle_Number  Gene_Induction
count  4000.000000  4.000000e+03        4000.000000     4000.000000
mean   2000.500000  9.360408e+07          17.507750        0.665500
std    1154.844867  2.408665e+07           6.109564        0.471874
min       1.000000  7.909580e+05           5.000000        0.000000
25%    1000.750000  1.000741e+08          13.000000        0.000000
50%    2000.500000  1.000754e+08          18.000000        1.000000
75%    3000.250000  1.026072e+08          22.000000        1.000000
max    4000.000000  1.026083e+08          28.000000        1.000000

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
Rec_ID                4000 non-null int64
GeneID                4000 non-null int64
Colour                4000 non-null object
Cell_Cycle_Cat        4000 non-null object
Cell_Cycle_Number     4000 non-null int64
Gene_Induction        4000 non-null int64
Symbol                4000 non-null object
LocusTag              4000 non-null object
Synonyms              4000 non-null object
dbXrefs               4000 non-null object
chromosome            4000 non-null object
description           4000 non-null object
type_of_gene          4000 non-null object
Other_designations    4000 non-null object
Class                 4000 non-null object
dtypes: int64(4), object(11)
memory usage: 468.8+ KB

In [ ]:
#Replacing the '-' values with NaN
df_gene=df_gene.replace('-', np.nan)
#.astype("object")

In [81]:
#Getting Percentages of the Missing values in the respective columns
total = df_gene.isnull().sum().sort_values(ascending=False)
percent_1 = df_gene.isnull().sum()/df_gene.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

                    Total     %
Synonyms             3822  95.6
LocusTag             3350  83.8
dbXrefs              2390  59.8
Other_designations    449  11.2
chromosome            311   7.8

In [ ]:
df_gene.replace('-',np.nan)

In [ ]:
df_gene.head(5)

In [ ]:
df_gene['Colour'].value_counts()

In [ ]:
#Getting number of Unique column values in a dataSet
df_gene.nunique()

In [ ]:
df_gene.describe()

In [ ]:

df_gene["Class"] = np.where(df_gene["Class"].str.contains("Ani"), 1, other=0)

In [ ]:
df_gene["Class"]

In [ ]:
df_gene.dtypes

In [ ]:
df_gene["Class"] = df_gene["Class"].astype('category')